<section>
  <div class="container">
    <h1>Register Form</h1>
    <form action="" [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText formControlName="name" placeholder="Username" />
        </p-inputGroup>
      </div>

      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-at"></i>
          </p-inputGroupAddon>
          <input pInputText formControlName="email" placeholder="Email" />
        </p-inputGroup>

      </div>
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input pInputText formControlName="password" placeholder="Password" />
        </p-inputGroup>

      </div>
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input pInputText formControlName="rePassword" placeholder="Re-password" />
        </p-inputGroup>
      </div>
      <p-button type="submit" label="Submit" />
    </form>
  </div>
</section>
