<div class="flex justify-content-between align-items-center flex-wrap">
  @for (item of Products; track $index) {
  <div
    [ngClass]="{ 'col-6': SmallCard, 'col-12 md:col-3 lg:col-2': !SmallCard }"
  >
    <div
      [ngClass]="{
        'flex flex-wrap lg:flex-nowrap justify-content-center gap-2': SmallCard
      }"
    >
      <figure
        [ngClass]="{ 'md:w-6rem lg:w-9rem': SmallCard, 'w-full': !SmallCard }"
        class="m-1 shadow-2 border-round-2xl overflow-hidden lg:w-12rem md:w-6rem"
      >
        <img
          #image
          [ngClass]="{ 'h-full': SmallCard, 'h-20rem': !SmallCard }"
          class="w-full"
          [src]="item.image"
          (error)="
            image.src =
              'https://storage.googleapis.com/fir-auth-1c3bc.appspot.com/1691078241728-xiaomi 11T Pro 5G.jpg'
          "
          alt=""
        />
      </figure>
      <div class="content py-1 w-full">
        <p class="truncateText overflow-hidden font-medium text-xs">
          {{ item.description }}
        </p>
        <div class="flex align-items-center gap-2">
          <div class="price flex gap-2 align-items-center pb-2">
            <span>
              <del class="text-color-secondary">{{ item.price }}</del>
            </span>
            <span class="new-price font-bold">
              <span class="text-green-400 pr-1">$</span>{{ item.price }}
            </span>
          </div>
          <div class="offer">
            <span class="bg-red-500 p-1 border-circle text-white text-sm"
              >%{{ item.discount }}</span
            >

            <span class="font-bold text-xs px-1">offer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
